/*
 * Created by @Duc Duong
 */


/*----------------------------------------------- Foundation ---------------------------------------------------------*/

body{
    background              : lightblue;
}

.container{

    font-family             :Georgia;
    display                 : grid;

    grid-template-columns   : 100%;
    grid-template-rows      : 300px 450px 400px 740px;
    grid-template-areas     :    "nav-bar-container"
                                 "top-container"
                                 "middle-container"
                                 "bottom-container";

    /* Abstand zu den jeweiligen areas
    grid-gap: 0.2rem;
    */

    margin-top              : 120px;
    margin-left             : auto;
    margin-right            : auto;
    margin-bottom           : 50px;
}



/*------------------------------------------------- TOP-Part ---------------------------------------------------------*/

.nav-bar-container{
    width               : 100%;
    height              : auto;
    grid-area           : nav-bar-container;
    margin-bottom       : 20px;
}


/*------------------------------------------------- TOP-Part ---------------------------------------------------------*/


.top-container{
    /* Zuordnung zu den jeweiligen Felder in "grid-template-area" in cantainer */
    grid-area           : top-container;
    padding-top         : 7em;
    background          : white;
    margin-bottom       : 20px;
    border              : 5px solid lightgrey;

}


.top-container-head{
    font-size           : 36px;
    font-weight         : 500;
    padding             : 10px 26px;
    cursor              : pointer;
    background          : transparent;
    border              : 0;
    outline             : none;
    position            : relative;
    text-align          : center;
    border-bottom       : 1px solid darkgrey;
}

.top-box{
    margin-left: 15%;
    margin-right: 15%;
}


.top-box-container{
    width               : 90%;
    height              : 90%;
    margin-left         : auto;
    margin-right        : auto;
    margin-bottom       : 20px;
    display             : flex;
    justify-content     : center;  /* zentriert die boxen*/
    align-items         : center;      /* zentriert die boxen*/
}


.left-side{
    width               : 40%;
    height              : 100%;
}

.left-side-input{
    width               : 90%;
    margin-top          :60px;
    margin-left         : auto;
    display             : flex;
    flex-direction     : row;

}


.right-side{
    width               : 35%;
    height              : 100%;
    margin-left         : 70px;
}


.right-side-box{
    width               : 90%;
    height              : 50%;
    margin-top          :140px;
    margin-left: auto;
    margin-right: auto;
}


.input-group{
    top                 : 180px;
    width               : 320px;
    transition          : 0.5s;
}


.label{
    font-size           : 12px;
    font-family         :Georgia;
    margin              : 0;
    padding             : 0;
}


.input-field{
    width               : 100%;
    height              : 20px;
    padding             : 5px 0;
    margin              : 2px 0 5px;
    border-radius       : 3px;
    border              : 1px solid darkgrey;
    background          : transparent;
}


.output-field{
    width               : 70%;
    border              : 1px solid lightgray;
    margin-left         : auto;
    margin-right        : auto;

}


.output-field h4{
    margin              : 10px;
    text-align          : center;
}


.output-field-info{
    font-weight         : 100;
    color               : #718093;
}





.button-box{
    width               : 100%;
    height              : auto;
    display             : flex;
    flex-display        : row;
}


.submit-button{
    width               : 70%;
    padding             : 13px 0 13px 0;
    cursor              : pointer;
    display             : block;
    margin-top          : 30px;
    margin-left         : auto;
    margin-right        : auto;
    border              : 0;
    outline             : none;
    border-radius       : 5px;
    border              : 1px solid darkgrey;
    text-align          : center;

    box-shadow          : inset 0px 0px 0px 4px #ffffff;
    background          : linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color    : #ededed;
    border-radius       : 38px;
    border              : 1px solid #dcdcdc;
    color               : #777777;
    font-size           : 15px;
    font-weight         : bold;
    text-shadow         : 0px 0px 0px #ffffff;
}


.submit-button:hover {
    background          :linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color    :#dfdfdf;
}

.submit-button:active {
    position            :relative;
    top                 :1px;
}



/*------------------------------------------------- MID-Part ---------------------------------------------------------*/


.middle-container{
    /* Zuordnung zu den jeweiligen Felder in "grid-template-area" in cantainer */
    height              : 550px;
    grid-area           : middle-container;
    background          : white;
    border-top          : 3px solid lightgrey;
    border-left         : 3px solid lightgrey;
    border-right        : 3px solid lightgrey;
}


.search-part{
    width               : 90%;
    height              : 100px;
    margin-top          : 10px;
    margin-left         : auto;
    margin-right        : auto;
    margin-bottom       : 50px;
    display             : flex;
    flex-direction      : row;
    justify-content     : space-around;
}


#IDInputfield{
    text-align: center;
}


.id-input{
    width               : 200px;
    height              : 50px;
    margin-top          : 50px;
    margin-left         : 10px;
}


/* ================= Input-Field ================= */

#FirstName{
    padding-left        : 10px;
    padding-right       : 10px;
}

#LastName{
    padding-left        : 10px;
    padding-right       : 10px;
}

#UserName{
    padding-left        : 10px;
    padding-right       : 10px;
}

#Email{
    padding-left        : 10px;
    padding-right       : 10px;
}

/* =============================================== */



.id-input-field{
    width               : 100%;
    padding             : 12px 0;
    margin              : 2px 0 5px;
    border-radius       : 3px;
    border              : 1px solid darkgrey;
    background          : transparent;
    text-align          : center;
    box-sizing          : border-box;

}


.middle-container-button-box{
    width               : 200px;
    height              : 60px;
    margin-top          : 50px;
    padding             : 10px;
    display             : flex;
    flex-display        : row;
}


.user-search-button{
    box-shadow          : inset 0px 0px 0px 4px #ffffff;
    background          : linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color    : #ededed;
    border-radius       : 38px;

    border              : 1px solid #dcdcdc;
    display             : inline-block;
    cursor              : pointer;
    color               : #777777;
    font-family         : Arial;
    font-size           : 15px;
    font-weight         : bold;
    padding             : 13px 54px;
    text-decoration     : none;
    text-shadow         : 0px 0px 0px #ffffff;
}

.user-search-button:hover{
    background          :linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color    :#dfdfdf;
}

.user-search-button:active{
    position            :relative;
    top                 :1px;
}


.middle-container-output-box{
    width               : 70%;
    height              : auto;
    border-radius       : 5px;
    border              : 1px solid lightgrey;
    margin-left         : auto;
    margin-right        : auto;
    margin-top          : 90px;
    margin-bottom       : 90px;
    border-radius       : 5px;
    display             : flex;
}



.table_contactdetails{
    margin-left         : auto;
    margin-right        : auto;
    margin-top          : 3%;
    margin-bottom       : 3%;
    display             : flex;
}

.table_contactdetails , th, td{
    border              : 1px solid black;

}


.table_post{
    margin-left         : 10%;
    margin-right        : 20%;
    margin-top          : 3%;
    margin-bottom       : 3%;
    display             : flex;
}

.table_post th, td{
    border              : 1px solid black;
    padding             : 2px 5px 2px 5px;
}







/*---------------------------------------------- BOTTOM-Part ---------------------------------------------------------*/


.bottom-container{
    background          : white;
    /* Zuordnung zu den jeweiligen Felder in "grid-template-area" in cantainer */
    grid-area           : bottom-container;
    border-left         : 3px solid lightgrey;
    border-right        : 3px solid lightgrey;
    border-bottom       : 3px solid lightgrey;
    display             : flex;
}



.bottom-container-box{
    width               : 50%;
    height              : auto;
    margin-top          : 15px;
    margin-bottom       : 70px;
    margin-left         : auto;
    margin-right        : auto;
    padding             : 40px;
    border              : 1px solid lightgrey;
    border-radius       : 5px;
}


.bottom-container-right{
    width               : 30%;
    height              : auto;
    margin-top          : 15px;
    margin-right        : 8%;
    margin-bottom       : 15px;
    float               : right;

}


.bottom-container-left{
    width               : 30%;
    height              : auto;
    margin-top          : 15px;
    margin-left         : 8%;
    margin-bottom       : 15px;
    float               :left;
}


.bottom-container-form-box{
    width: 50%;
    display: flex;
    flex-direction: row;
}


.container-input{
    width               : 100%;
}

.bottom-container-label{
    font-size           : 15px;
    font-family         :Georgia;
    font-weight         : 100;
    margin              : 0;
    padding             : 0;

}


.container-input-field{
    width               : 100%;
    padding             : 5px 0 5px 10px;
    margin              : 5px 0 15px;
    border-radius       : 3px;
    border              : 1px solid darkgrey;
    background          : transparent;
}


.container-input-field h5{
    margin              : 5px;
}



