/* Created by @Antonia Geschke and Helen Laible*/


*{
    margin: 0;
    padding: 0;
}

.Services{
    width: auto;
    margin-left: 2%;
}

.Verbesserungen
{
    margin-left: 2%;
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #333333;
}

.Lessons_learned
{
    margin-left: 2%;
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #333333;

}

.Service
{
    margin-left: 2%;
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #333333;

}


.main-container p{
    height: 40%;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10rem;
}

.sitemap{
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    font-family: "Century Gothic",sans-serif;
    font-size: 1.5rem;
    width: auto;
    padding-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.documentation{
    height: 40%;
    font-family: "Century Gothic",sans-serif;
    font-size: 1.5rem;
    width: auto;
    padding-top: 10rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.sitemap a{
    text-decoration: none;
    color: #333333;
}

.sitemap li a:hover{
    color: white;
}

.documentation p{
    margin-top: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #333333;
    display: block;
}

.Impressum{
    height: 40%;
    width: auto;
    padding-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.Impressum p{
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #333333;
    display: block;
}

h1{ /*Mainheadings*/
    font-family: "Century Gothic",sans-serif;
    font-size: 2.5rem;
    color: #333333;
    line-height: 120%;
    height: 40%;
    width: auto;
    padding-top: 10rem;
    margin-right: 2rem;
    margin-left: auto;
}

h2{ /*Subheadings*/
    font-family: "Century Gothic",sans-serif;
    font-size: 2rem;
    color: #333333;
    line-height: 120%;
    height: 40%;
    width: auto;
    padding-top: 6rem;
    margin-right: auto;
    margin-left: auto;
}

h3{ /*Headings for differentiate*/
    font-family: "Century Gothic",sans-serif;
    font-size: 1.5rem;
    color: #333333;
    line-height: 120%;
    height: 40%;
    width: auto;
    padding-top: 4rem;
    margin-right: auto;
    margin-left: auto;
}

.image{
    width: 100%;
}

.slideImage{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    justify-content: center;
}

.Policy{
    margin-top: 2rem;
    height: 70%;
    width: auto;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-bottom: 6.25rem;
}

.Policy p{
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #333333;
    display: block;
}

.table{
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #333333;
    display: block;
}

/*--------Pictures--------*/
.picture{
    height: 80%;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.picture2{
    height: 40%;
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.picture3{
    height: 80%;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.picture4{
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.picture5{
    height: 20%;
    width: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 500px;
}

#usecase1{
    height: 40%;
    width: 40%;
}
