/*
created by @Hoang
 */
/* ===== Post Section ===== */


.UnderNavbar
{
    z-index: 1;
    padding-top: 5em;
}

/* ------------------------------- Left Filler ---------------------------- */
.LeftSide
{
    box-sizing: border-box;
    width: 25%;
    float:left;
    border: 1px solid transparent;
}


/* ------------------------------- Iconbar ---------------------------- */
.IconBar
{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: 10%;
    margin-top: 18%;
    width: 15%;
    position: fixed;

    /* border: 1px solid red; */
}

.IconBar ul
{
    background-color: white;
    border-radius: 1.5em;
}
.IconBar ul li
{
    box-sizing: border-box;

    margin-right: auto;
    margin-left: auto;
    width: 50%;
    list-style-type: none;

}
.IconBar ul li button
{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    font-size:24px;
    background-color: transparent;

}

/* ------------------------------- Post ---------------------------- */
.PostSection
{
    width: 50%;
    float:left;

    /* border: 1px solid red; */}
/* ------------------------------- WelcomeCard---------------------------- */
.WelcomeCard {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    justify-content: center;
    max-width: 43.5%;
    background: #d8effd;
    border-radius: 1.5em;


    /* border: 1px solid red; */
}

#WelcomeInitUser
{
    box-sizing: border-box;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

#WelcomeNotInitUser
{
    box-sizing: border-box;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;

    /* border: 1px solid red; */
}

/* ------------------------------- UserPost ---------------------------- */
.UserPost
{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    justify-content: center;
    max-width: 43.5%;
    background-color: whitesmoke;
    border-radius: 1.5em ;




    /* border: 1px solid red; */
}

.headline
{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: 11em;

    /* border: 1px solid red; */

}

#UserName
{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: 25em;

    /* border: 1px solid red; */
}

#UserText
{
    box-sizing: border-box;
    display: block;
    max-width: 25em;
    margin-right: auto;
    margin-left: auto;

    /* border: 1px solid red; */
}

.img
{
    box-sizing: border-box;
    display: block;
    /* border: 1px solid red; */
    margin-right: auto;
    margin-left: auto;
    max-width: 25em;
    width: 100%;
    height: auto;

}


.InteractionMediaIcon
{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: 25em;


}

.IconBlock
{

    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 33.3%;
    display: inline-block;
}

.InteractionMediaIcon label
{
    text-align: left;
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    align-content: center;
    font-size: 16px;
    margin-top: 5%;
    margin-left: 2%;
    width: 60%;




}

.InteractionMediaIcon button {

    font-size: 28px;
    border: none;
    cursor: pointer; /* hand icon when go to icons */
    float: left; /* Float the buttons next to each other with */

}


/* hover effect when use button */
.InteractionMediaIcon button:hover {
    background-color: lightskyblue;
}




.RightSide
{
    position: fixed;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    margin-top: 5%;
    margin-left: 70%;
}

.CommentSection
{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin-top: 2%;

}

.CommentInputArea
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin-top: 2%;
}


.input {
    display: block;
    width: 100%;
    overflow: hidden;
    min-height: 25px;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    text-indent: 0;

}




@media(max-width:992px) {
    .IconBar
    {
        position: fixed;
        margin-right: auto;
        margin-left: 10%;
        margin-top: 5%;
        max-width: 100%;
        /* border: 1px solid red; */    }


    .IconBar ul
    {
        background-color: white;
        border-radius: 1.5em;
        max-width: 100%;

    }
    .IconBar ul li
    {
        box-sizing: border-box;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        font-size:xx-small;
        list-style-type: none;
        /* border: 1px solid red; */


    }
    .IconBar ul li button
    {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        font-size:xx-small;
        background-color: transparent;

    }

    .WelcomeCard {
        box-sizing: border-box;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        justify-content: center;
        max-width: 43.5%;
        background: #d8effd;
        border-radius: 1.5em;


        /* border: 1px solid red; */
    }

    #WelcomeInitUser
    {
        box-sizing: border-box;
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        font-size: smaller;
    }

    #WelcomeNotInitUser
    {
        box-sizing: border-box;
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        font-size: smaller;

        /* border: 1px solid red; */
    }
    .headline
    {
        box-sizing: border-box;
        margin-right: auto;
        margin-left: auto;
        font-size: small;

        /* border: 1px solid red; */

    }

    #UserName
    {

        box-sizing: border-box;
        margin-right: auto;
        margin-left: auto;
        font-size: small;

        /* border: 1px solid red; */
    }

    #UserText
    {
        box-sizing: border-box;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: small;

        /* border: 1px solid red; */
    }

    .img
    {
        box-sizing: border-box;
        display: block;
        /* border: 1px solid red; */
        margin-right: auto;
        margin-left: auto;
        max-width: border-box;
        width: 100%;
        height: auto;


    }

    .IconBlock
    {
        box-sizing: border-box;
        margin-right: auto;
        margin-left: 2%;
        max-width: 100%;
        display: flex;
        align-content: center;


        border: 1px solid red;

    }

    .InteractionMediaIcon label
    {

        text-align: left;
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
        align-content: center;
        font-size: smaller;
        margin-top: 5%;

    }

    .InteractionMediaIcon button {

        font-size: smaller;
        border: none;
        cursor: pointer; /* hand icon when go to icons */
        float: left; /* Float the buttons next to each other with */

    }


    /* hover effect when use button */
    .InteractionMediaIcon button:hover {
        background-color: lightskyblue;
    }


    .RightSide
    {
        position: fixed;
        box-sizing: border-box;
        max-width: 100%;
        max-height: 100%;
        margin-top: 5%;
        margin-left: 70%;
    }

    .CommentSection
    {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        border-radius: 2%;
        font-size:xx-small;

        border: 1px solid red;


    }


    .textarea {
        display: block;
        width: 100%;
        overflow: hidden;
        resize: both;
        min-height: 40px;
        line-height: 20px;
        font-size:xx-small;
        border: 1px solid black;

    }


}







