/*created by Helen Laible Extended by @Antonia Geschke*/
*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to top, cadetblue 0%, white 95%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


nav{
    z-index: 1;
    height: 85px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: #309bfa;
    letter-spacing: 0.2rem;
    box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.144);
}


.nav_logo{
    margin: 25px;
    color: #6b6b6b;
    font-weight: bold;
    font-size: 30px;
    font-family: "Century Gothic", serif;
    font-style: revert;
    text-decoration: none;
}


.LeftSideBar
{
    box-sizing: border-box;
    display: inline-block;
   /* border: 1px solid red; */
}

.UserName
{

    font-size: 20px;
    height: 25px;
    width: 25px;
    display: inline-block;

}

.box {
    position: absolute;
    top: -4%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #ececec;
    height: 25px;
    border-radius: 40px;
    padding: 10px;

}

.box:hover > form .input {
    width: 240px;
    padding: 0 6px;
}

.button {
    background: none;
    border: none;
    position: relative;
    top: 5%;
}

form .input {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: #000000;
    font-size: 16px;
    transition: 0.4s;
    line-height: 25px;
    width: 0px;

}

nav ul{
    display: flex;
    float: right;
}

nav ul li{
    height: 80%;
    float: left;
    position: relative;
    list-style-type: none;
}

nav ul li a:hover{
    border-bottom: 4px solid #6b6b6b;
}

nav ul li a{
    color: #6b6b6b;
    padding: 30px;
    letter-spacing: 0.2rem;
    text-decoration: none;
    font-size: 22px;
    font-family: "Century Gothic", sans-serif;
    font-weight: inherit;
    display: block;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 0.14rem 0.25rem rgba(0, 0, 0, 0.144);
    z-index: 1;
}

nav ul li:hover ul{ /*Drop-Down*/
    display: block;
    top: 91px;
    width: 218px;
}

nav ul li ul li a{ /*Drop-Down Elemente von Mein Konto*/
    color: #6b6b6b;
    padding: 16px 20px;
    text-align: center;
}

.dropdown{
    z-index: 1;
}

.toggle-button{
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar{
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 100px;
}




@media(max-width:750px){
    .list-container{
        display: none;
        width: 100%;
    }
    .toggle-button{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .list-container ul{
        flex-direction: column;
        width: 100%;
    }
    .list-container li{
        text-align: center;
    }

    .list-container.active{
        display: flex;
    }


    .LeftSideBar
    {
        position: absolute;
        box-sizing: border-box;
        margin: auto auto;
        display: flex;
        max-width: 100%;
        z-index: 1;

    }

    .UserName {
        z-index: 1;
        height: 25px;
        width: 25px;
        margin-top: 18%;
    }

}
