/* Created by @Antonia Geschke*/

*{
    margin: 0;
    padding: 0;
}

.main-container p{
    height: 40%;
    width: 40rem;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10rem;
}

.sitemap{
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    height: 40%;
    width: 40rem;
    padding-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.sitemap a{
    text-decoration: none;
    color: #333333;
}

.sitemap li a:hover{
    color: white;
}

.documentation p{
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #333333;
    display: block;
}

.Impressum{
    height: 40%;
    width: 40rem;
    padding-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

h1, h2{
    font-family: "Century Gothic",sans-serif;
    font-size: 1.5rem;
    color: #333333;
    line-height: 120%;
    height: 40%;
    width: 40rem;
    padding-top: 10rem;
    margin-right: auto;
    margin-left: auto;
}

h3{ /*Subheading*/
    font-family: "Century Gothic",sans-serif;
    font-size: 1.5rem;
    color: #333333;
    line-height: 120%;
    height: 40%;
    width: 40rem;
    padding-top: 10rem;
    margin-right: auto;
    margin-left: auto;
}


.Impressum p{
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #333333;
    display: block;
}

.image{
    width: 100%;
}

.slideImage{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    justify-content: center;
}

.Policy{
    margin-top: 2rem;
    height: 70%;
    width: 40rem;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 6.25rem;

}

.Policy p{
    font-family: "Century Gothic",sans-serif;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #333333;
    display: block;
}

.picture{
    height: 80%;
    width: 80%;
}

.picture2{
    height: 40%;
    width: 40%;}

.picture3{
    height: 80%;
    width: 80%;
}

@media(max-width: 800px) {

    html{
        width: 600px;
    }
}